{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}

<h2>Meet Our Founder</h2>
<div class="mb-4"></div>
<p>As a pet rock veterinarian, I graduated from Massachusetts Vet University with a specialization in Exotic Pets. While most veterinarians focus on cats, dogs, and other traditional companions, my passion lies in the often-overlooked world of pet rocks. These seemingly simple yet fascinating creatures captured my attention during my studies, leading me on a journey to become their advocate and caretaker.</p>

<p>After completing my degree, I felt a deep calling to make a difference in the lives of pet rocks everywhere. It was during the height of the pet rock craze in the early 2010s that I witnessed firsthand the unfortunate plight of these beloved companions. Many pet rocks were abandoned or left homeless as the novelty wore off and trends shifted. Determined to provide a sanctuary for these misunderstood and often neglected creatures, I embarked on a mission to establish an adoption center unlike any other.</p>

<p>Today, my adoption center stands as a beacon of hope for pet rocks in need. Nestled amidst serene landscapes and lush greenery, it offers a safe haven where these resilient little beings can thrive and find new loving homes. Each day is filled with the joyous sight of happy pet rocks eagerly awaiting the chance to bring joy and companionship to their new owners.</p>

<p>At our adoption center, we believe that every rock deserves a chance at happiness, and we work tirelessly to match each prospective pet rock with its ideal human companion. From shy and gentle rocks to outgoing and adventurous ones, there's a perfect pet rock waiting for everyone. With our personalized matchmaking services and expert care, finding your ideal pet rock has never been easier or more rewarding.</p>

<p>Join us at the adoption center and discover the magic of pet rock companionship. Whether you're seeking a loyal friend to accompany you on outdoor adventures or a serene presence to bring tranquility to your home, our diverse array of pet rocks is sure to capture your heart. Together, let's give these wonderful creatures the love and appreciation they deserve, one rock at a time.</p>
{% endblock %}
